{% extends "base.html" %}

{% block title %}Add Task{% endblock %}

{% block content %}

<h2>Add New Task</h2>

<form method="POST">

    <label>Title</label><br>
    <input type="text" name="title" required>

    <br><br>

    <label>Description</label><br>
    <textarea name="description"></textarea>

    <br><br>

    <label>Priority</label><br>

    <select name="priority">
        <option>Low</option>
        <option selected>Medium</option>
        <option>High</option>
    </select>

    <br><br>

    <label>Status</label><br>

    <select name="status">
        <option selected>To Do</option>
        <option>In Progress</option>
        <option>Completed</option>
    </select>

    <br><br>

    <button type="submit">
        Save Task
    </button>

</form>

{% endblock %}
