{% extends "base.html" %}

{% block title %}
TaskFlow
{% endblock %}

{% block content %}

<div class="hero">

    <h1>🚀 Welcome to DevOps Learning</h1>

    <p class="subtitle">
        Learn • Build • Secure • Deploy
    </p>

    <a href="{{ url_for('main.add_task') }}">
        <button class="primary-btn">
            + Add Task
        </button>
    </a>

</div>

<div class="stats">

    <div class="card">
        <h2>{{ tasks|length }}</h2>
        <p>Total Tasks</p>
    </div>

    <div class="card">
        <h2>{{ todo }}</h2>
        <p>📋 To Do</p>
    </div>

    <div class="card">
        <h2>{{ progress }}</h2>
        <p>🟠 In Progress</p>
    </div>

    <div class="card">
        <h2>{{ completed }}</h2>
        <p>✅ Completed</p>
    </div>

</div>

<h2>Your Tasks</h2>

{% if tasks %}

    {% for task in tasks %}

    <div class="task-card">

        <h3>{{ task.title }}</h3>

        <p>{{ task.description }}</p>

        <div class="task-footer">

            <span class="priority">
                {{ task.priority }}
            </span>

            <div>

                {% if task.status == "To Do" %}

                    <span class="status-todo">
                        📋 To Do
                    </span>

                {% elif task.status == "In Progress" %}

                    <span class="status-progress">
                        🟠 In Progress
                    </span>

                {% else %}

                    <span class="status-completed">
                        ✅ Completed
                    </span>

                {% endif %}

                |

                <a
                    href="{{ url_for('main.update_status', task_id=task.id) }}"
                    class="status-link"
                >
                    Change Status
                </a>

                |

                <a
                    href="{{ url_for('main.delete_task', task_id=task.id) }}"
                    style="color:#ef4444;"
                >
                    Delete
                </a>

            </div>

        </div>

    </div>

    {% endfor %}

{% else %}

<div class="empty">
    No tasks yet.
</div>

{% endif %}

{% endblock %}
