{% extends "base.html" %}

{% block title %}
TaskFlow
{% endblock %}

{% block content %}

<div class="hero">

    <h1>🚀 Welcome to DevOps Learning</h1>

    <p class="subtitle">
        Learn • Build • Secure • Deploy
    </p>

    <a href="{{ url_for('main.add_task') }}">
        <button class="primary-btn">
            + Add Task
        </button>
    </a>

</div>


<div class="stats">

    <div class="card">
        <h2>{{ total }}</h2>
        <p>Total Tasks</p>
    </div>

    <div class="card">
        <h2>{{ todo }}</h2>
        <p>📋 To Do</p>
    </div>

    <div class="card">
        <h2>{{ progress }}</h2>
        <p>🟠 In Progress</p>
    </div>

    <div class="card">
        <h2>{{ completed }}</h2>
        <p>✅ Completed</p>
    </div>

</div>


<h2>Your Tasks</h2>


{% if tasks %}

{% for task in tasks %}

<div class="task-card">

    <h3>{{ task.title }}</h3>

    <p>{{ task.description }}</p>

    <div class="task-footer">

        <span class="priority">

            {{ task.priority }}

        </span>

        <div>

            {% if task.status == "To Do" %}

                <span style="color:#ffb347;">
                    📋 To Do
                </span>

            {% elif task.status == "In Progress" %}

                <span style="color:#ffa500;">
                    🟠 In Progress
                </span>

            {% else %}

                <span style="color:#4CAF50;">
                    ✅ Completed
                </span>

            {% endif %}

            |

            <a href="{{ url_for('main.update_status', task_id=task.id) }}">
                Change Status
            </a>

            |

            <a
                href="{{ url_for('main.delete_task', task_id=task.id) }}"
                style="color:#ff5555;"
            >
                Delete
            </a>

        </div>

    </div>

</div>

{% endfor %}

{% else %}

<div class="empty">

    <h3>No Tasks Yet 🚀</h3>

    <p>Create your first DevOps task.</p>

</div>

{% endif %}

{% endblock %}
